[submodule "control-repo"]
	path = control-repo
	url = git@github.com:jinostrozam/control-repo.git
	branch = production
[submodule "contro-repo-ppserver"]
	path = contro-repo-ppserver
	url = git@github.com:jinostrozam/contro-repo-ppserver.git
	branch = production
[submodule "control-repo-ppserver"]
	path = control-repo-ppserver
	url = git@github.com:jinostrozam/control-repo-ppserver
	branch = production
